@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-white: #ffffff;
  --secondary-white: #EBE8EB;
  --tertiary-white: #E9E9E9;
  --off-white:  #E5E5E5;
  --primary-black:  #000000;
  --secondary-black:  #373737;
  --primary-red:  #B6002C;
  --tertiary-black: #9D9A9E;
  --primary-blue: #2081e2;
  --primary-background: rgba(0, 0, 0, 0.5);
  
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* RESET DEFAULT CSS --------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


body {
  font-family: 'Open Sans', sans-serif;
}

/* GLOBAL CSS --------------------------------*/

.container {
  max-width: 124rem;
  margin: 0 auto;
}

.page_padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}


/* NAVIGATION CSS --------------------------------*/
.nav_btn_hover:hover {
  transform: rotate(360deg);
  transition: all 1s;
}

/* HOME SECTION --------------------------------*/
.hero_section {
  background-image: url('../styles/images/hero/hero-img.jpg');
  width: 100%;
  height: 110vh;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}

.hero_container {
  max-width: 111.6rem;
  margin: 0 auto;
}

.hero_text {
  top: 55%;
  right: 12px;
  transform: translate(-50%, -50%);
}

.title_white {
  filter: brightness(0) invert(1);
}

.hero_cta::after {
  content: '';
  width: 20rem;
  height: 5.5rem;
  border: 1px solid rgba(255, 255, 255, 0.362);
  position: absolute;
  top: -12px;
  left: 12px;
  transition: all 0.4s;
}

.hero_cta:hover:after {
  content: '';
  width: 20rem;
  height: 5.5rem;
  border: 1px solid rgba(255, 255, 255);
  position: absolute;
  top: -0px;
  left: 0px;
  transition: all 0.4s;
}

/* ABOUT SECTION --------------------------------*/
.about_section {
  background-image: url(../styles/images/who-we-are/background.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.about_cta {
  padding: 1.82rem 3.6rem;
  transition: all 0.3s;
  width: 21rem;
}

.about_cta::after {
  content: "";
  width: 20rem;
  height: 5.5rem;
  border: 1px solid rgba(63, 63,63, 0.362);
  position: absolute;
  top: -12px;
  left: 12px;
  transition: all 0.4s;
}

.about_cta:hover:after {
  content: "";
  width: 19rem;
  height: 5.8rem;
  border: 1px solid #ff0336;
  position: absolute;
  top: -0px;
  left: 0px;
  transition: all 0.4s;
}

.girl_running {
  width: 100%;
  height: auto;
  top: 60%;
  right: 46%;
  transform: translate(50%, -50%);
  position: absolute;
  z-index: 5;
}

.girl_bg {
  width: 51%;
  height: auto;
  top: 67.7%;
  right: 33%;
  transform: translate(50%, -50%);
  position: absolute;
}

.girl_text {
  width: 17%;
  height: auto;
  top: 67.7%;
  right: 84%;
  transform: translate(50%, -50%);
  position: absolute;

}

.girl_wind {
  width: 15%;
  height: auto;
  top: 64.7%;
  right: 29%;
  transform: translate(50%, -50%);
  position: absolute;
}

.card_div {
  transition: all 0.2s;
}

.card_div:hover {
  color: white;
  background-image: url(../styles/images/who-we-are/info-card-bg.jpg);
}

/* FEATURED SECTION --------------------------------*/

/* GRID SYSTEM ---------------------*/
.item_0_div {
  height: 30rem;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  overflow: hidden;
}

.item_1_div {
  height: 30rem;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
  overflow: hidden;
}

.item_2_div {
  height: 30rem;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
  overflow: hidden;
}

.item_3_div {
  height: 30rem;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  overflow: hidden;
}

.item_4_div {
  height: 30rem;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  overflow: hidden;
}

.item_5_div {
  height: 30rem;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 5;
  overflow: hidden;
}

.item_0 {
  background-image: url(../styles/images/features/cycling.jpg);
  width: 100%;
  height: 100%;
}


.item_1 {
  background-image: url(../styles/images/features/karate.jpg);
  width: 100%;
  height: 100%;
}

.item_2 {
  background-image: url(../styles/images/features/power.jpg);
  width: 100%;
  height: 100%;
}

.item_3 {
  background-image: url(../styles/images/features/meditation.jpg);
  width: 100%;
  height: 100%;
}

.item_4 {
  background-image: url(../styles/images/features/mma.jpg);
  width: 100%;
  height: 100%;
}

.item_5 {
  background-image: url(../styles/images/features/workout.jpg);
  width: 100%;
  height: 100%;
}

.item_0,
.item_1,
.item_2,
.item_3,
.item_4,
.item_5   {
  filter: grayscale(100%);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  box-shadow: inset 2px 2px 8px 160px rgba(0,0,0,0.2);
  cursor: pointer;
}

.item_0:hover, 
.item_1:hover,
.item_2:hover,
.item_3:hover,
.item_4:hover,
.item_5:hover {
  filter: grayscale(0%);
  transform: scale(1.3);
  box-shadow: inset 2px 2px 8px 160px rgba(0,0,0,0);
}


/* before pseudo */
.item_0_div::before, 
.item_1_div::before,
.item_2_div::before,
.item_3_div::before,
.item_4_div::before,
.item_5_div::before
 {
  width: 50%;
  z-index: 6;
  position: absolute;
  transition: all .4s;
  display: block;
  transform: scale(.65);
}

.item_0_div::before {
  content: url(../styles/images/features/gym-bike.png);
  left: -25px;
  bottom: 45%;
}

.item_1_div::before {
  content: url(../styles/images/features/karate.png);
  left: -1px;
  bottom: 45%;
}

.item_2_div::before {
  content: url(../styles/images/features/dumbbell.png);
  left: -1px;
  bottom: 45%;
}

.item_3_div::before {
  content: url(../styles/images/features/yoga.png);
  left: -1px;
  bottom: 45%;
}

.item_4_div::before {
  content: url(../styles/images/features/boxer.png);
  left: -1px;
  bottom: 45%;
}

.item_5_div::before {
  content: url(../styles/images/features/workout.png);
  left: -25px;
  bottom: 45%;
}

.item_0_div:hover:before,
.item_1_div:hover:before,
.item_2_div:hover:before,
.item_3_div:hover:before,
.item_4_div:hover:before,
.item_5_div:hover:before     {
  transform: scale(.66);
}

.item_0_div:hover:before {
  content: url(../styles/images/features/bike-red.png);
}

.item_1_div:hover:before {
  content: url(../styles/images/features/karate-red.png);
}

.item_2_div:hover:before {
  content: url(../styles/images/features/dumb-red.png);
}

.item_3_div:hover:before {
  content: url(../styles/images/features/yoga-red.png);
}

.item_4_div:hover:before {
  content: url(../styles/images/features/boxer-red.png);
}

.item_5_div:hover:before {
  content: url(../styles/images/features/workout-red.png);
}

/* after pseudo */
.item_0_div::after,
.item_1_div::after,
.item_2_div::after,
.item_3_div::after,
.item_4_div::after,
.item_5_div::after    {
  content: "";
  height: 69px;
  width: 140px;
  background-color: rgba(255, 255, 255, .3);
  position: absolute;
  left: -49px;
  bottom: 50%;
  border-radius: 0 50px 50px 0;
  transform: rotate(30deg);
  transition: all .4s;
  z-index: 5;
}

.item_0_div:hover:after
.item_1_div:hover:after,
.item_2_div:hover:after,
.item_3_div:hover:after,
.item_4_div:hover:after,
.item_5_div:hover:after {
  background-color: rgb(255, 255, 255);

} 
/* END OF GRID SYSTEM */

.featured_cta {
  background-image: url(../styles/images/features/cta-bg.png);
  height: 21rem;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* CHOOSE US SECTION --------------------------------*/
.choose_section {
  background-image: url(../styles/images/choose-us/choose-bg.jpg);
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.video_div::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  background-color: #ff0336;
  height: 461px;
  width: 10px;
  transform: translateY(-50%)rotate(174deg);
  -webkit-transform: translateY(-50%)rotate(174deg);

}

.video_div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -30px;
  background-color: #ff0336;
  height: 42%;
  width: 10px;
}

/* TRAINERS SECTION --------------------------------*/
.trainers_section {
  background-image: url(../styles/images/trainers/dot-bg.png);
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: relative;
}

.trainers_section::after {
  content: url('../styles/images/trainers/bg-attachment.png');
  position: absolute;
  top: 0;
  right: 0;
}

.box_desc::after {
  content: "";
  width: 45px;
  height: 4px;
  background-color: #ff0336;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all .4s ease-in-out;
}

.box_desc:hover:after {
  content: "";
  width: 100%;
  height: 4px;
}

/* GALLERY SECTION --------------------------------*/
.gallery_grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 6px;
  height: 100%;
}

.gallery_item_0 {
  background-image: url('../styles/images/gallery/img1.jpg');
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 41rem;
  width: 100%;
  background-color: #DE89DD;

  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
}

.gallery_item_1 {
  background-color: #F7D9AB;
  background-image: url('../styles/images/gallery/img2.jpg');
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -131px;

  grid-row-start: 1;
  grid-column-start: 3;
  
  grid-row-end: 2;
  grid-column-end: 5;
}

.gallery_item_2 {
  background-color: #BC775E;
  background-image: url('../styles/images/gallery/img5.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-column-end: 5;

}

.gallery_item_3 {
  background-color: #A89CE7;
  background-image: url('../styles/images/gallery/img3.jpg');
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;


  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
}

.gallery_item_4 {
  background-color: #DC9F7C;
  background-image: url('../styles/images/gallery/img4.jpg');
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;

  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3;
}

/* BMMI SECTION --------------------------------*/
.bmi_section {
  background-image: url('../styles/images/bmi/background.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

/* PRICING SECTION --------------------------------*/
.pricing_section {
  background-image: url('../styles/images/pricing/background.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pricing_cta {
  transition: all 0.4s;
  margin-top: 4rem;
}

.pricing_cta::after {
  border: 2px solid #ff03353b;

}

.pricing_cta:hover:after {
  border: 2px solid #FF0336;
}

/* CTA BANNER SECTION --------------------------------*/
.cta_section {
  background-image: url('../styles//images/call/background.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cta_banner_btn {
  padding: 18px 29px;
}

/* LOGIN SECTION --------------------------------*/
.section_div {
  background-image: url('../styles/images/who-we-are/background.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.section_banner {
  background-image: url('../styles/images/login/banner.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 45vh;
}

/* CLASSES PAGE ----- */
.cycling_bg,
.meditaion_bg,
.mma_bg,
.karate_bg,
.power_bg,
.workout_bg,
.cross_bg,
.run_bg {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.cycling_bg {
  background-image: url('../styles/images/classes/cycling.jpg');
}

.meditaion_bg {
  background-image: url('../styles/images/classes/meditation.jpg');
}

.mma_bg {
  background-image: url('../styles/images/classes/mma.jpg');
}

.karate_bg {
  background-image: url('../styles/images/classes/karate.jpg');
}

.powerlift_bg {
  background-image: url('../styles/images/classes/powerlifting.jpg');
}

.workout_bg {
  background-image: url('../styles/images/classes/workout.jpg');
}

.crossfit_bg {
  background-image: url('../styles/images/classes/cross.jpg');
}

.running_bg {
  background-image: url('../styles/images/classes/running.jpg');
}

.box_bg {
  background-image: url('../styles/images/classes/box.jpg');
}

.bodybuilding_bg {
  background-image: url('../styles/images/classes/bodybuilding.jpg');
}

.yoga_bg {
  background-image: url('../styles/images/classes/yoga.jpg');
}

.fitness_bg {
  background-image: url('../styles/images/classes/fitness.jpg');
}


/* BLOGS PAGE ----- */
.blog_cta {
  padding: 18px 22px;
  margin-left: 0;
}

.blog_banner {
  background-image: url('../styles/images/blogpage/sidebar1.png');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner_shape {
  -webkit-clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
}

/* MEDIA QUERIES --------------------------------*/

@media (max-width: 1200px) {
  .navlist_nav {
    display: none;
  }

  .fa-bars {
    display: flex;
  }
}

